@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fa-solid .fa-house-chimney {
  color: white;
}

.text-light {
  color: white;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-item {
  color: white;
}
